# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
*.gem
*.rbc
.config
coverage
InstalledFiles
lib/bundler/man
Gemfile.lock

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.LOCAL_DEVELOPMENT.md.swp
